body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

.top {
    background-color: blueviolet;
    margin-top: -1rem;
    padding-top: 1.5rem;
    background-size: cover;
    margin-bottom: -1rem;
    letter-spacing: 0.1rem;
}

.top a:hover {
    color: cyan;
}

.top a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}

.Home h1 {
    padding-left: 3rem;

}

nav {
    display: block;
}

nav li {
    display: inline;
}

.top-links {
    text-align: center;
    margin-top: -1rem;
}

.gym-cover {
    position: relative;
    text-align: center;
    color: white;
    height: 50rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gym-cover .center h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    width: 75rem;
    font-weight: 300;
}

.gym-cover .center p {
    font-size: 30px;
}

.learn-more {
    width: 20%;
    height: 3rem;
    font-size: larger;
    background-color: yellow;
}

.learn-more:hover {
    background-color: aqua;
    cursor: pointer;
}

hr {
    color: black;
}

.row-1 {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10rem;
    font-weight: 100;
}

.row-2 {
    padding-left: 2.5rem;
    background-color: rgb(31, 30, 30);
    margin-top: -2.5rem;
}

.row-3 {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3rem;
    font-weight: 100;
    margin-top: -5rem;
}

.row-4 {
    padding-left: 2.5rem;
    background-color: rgb(31, 30, 30);
    margin-top: -2.5rem;
}

.row-5 {
    background-color: blueviolet;
    color: black;
    text-align: center;
    padding-top: 3rem;
    font-weight: 100;
    margin-top: -5rem;
}

div[id="bottom"] {
    margin-top: -3rem;
    background-color: rgb(31, 30, 30);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

.grid-container- {
    color: white;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(4,350px);
    grid-column-gap: 5rem;
    margin-bottom: -1rem;
    letter-spacing: 1px;
}

.grid-item-1 {
    margin-top: 5rem;
}


.icon {
    color: blueviolet;
    background-color: rgb(31, 30, 30);;
    font-size: larger;

}

.grid-container- a:hover {
    color: aqua;
}

footer {
    color: white;
}

cite {
    color: white;
}



